/* global styles */
* {
	margin: 0; /* no border to the viewable frame */
  padding: 0; /* no padding to the viewable frame */
	box-sizing: border-box;
  /* border: 1px solid rgb(109, 7, 24); */
}

h1 {
  font-family: "Lucida Handwriting";
}

/* #################################  Vyshyvanka day ################################# */

header {
/*background-color: white*/
  background-image: url(./images/karta.jpg); /* get background image */
  background-repeat: no-repeat; /* only once */
  background-size: cover; /* cover the container */
  background-position: center; /* position bg in center of picture*/
  height: 500px;
}
h1 {
  color: rgb(230, 81, 81);
  text-align: left; /* center the text */
  text-align: end; /* end the text */

}

.navbar {
  
  padding: 20px;
}
.home {
  display: flex; /* apply flexbox */
  flex-direction: column; /* flexbox item in column */
  align-items: center; /* items vertically centered */
  justify-content: space-between; /* left space between containers */
}
.topnav {
  margin: 15px;
  padding: 35px;
  color: black; 
}
/* Style the links inside the topnav */
.topnav a {
  color: #f2f2f2; /* text color white */
  padding: 14px 16px;
  text-decoration: none; /* no underline of links */
  font-size: 26px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black; /* text color white */
  border-radius: 15px;
}
/* ################################# SECTION Profile ################################# */
.profile {
  /*background-color: lightblue;*/
  background-image: url(./images/vishivank.004.jpg); /* get background image */
  padding: 15px;
  background-repeat: no-repeat; /* only once */
  background-size: cover; /* cover the container */
  background-position: center; /* position bg in center of picture*/
  font-size: 2rem;
  /* acivate line blow to see effect */
  /* min-height: 600px; */
}
.profile p {
font-size: 2rem;





}






.profile_title {
  text-align: center;
}

h2 {
  color: whitesmoke;
  background-color: black;
  text-align: center;

}
.box-container {
  display: flex;
  flex-direction: column; /* flexbox item in column */
  align-items: center;
  justify-content: space-around;
}
.HISTORY {
  
  background-image: url(./images/86_main.jpg);
  background-repeat: no-repeat; /* only once */
  height: 300px;
  width: 250px;
  text-align: center;
  text-decoration-color: whitesmoke;
  text-decoration-line: underline;
  margin: 30px;

  /* acivate line blow to see effect */
  /* width: 70%; */
}

.ORNAMENTS {
  background-image: url(./images/vishivanka.jpg);
  background-repeat: no-repeat; /* only once */
  height: 300px;
  width: 250px;
  text-align: center;
  text-decoration-color: whitesmoke;
  text-decoration-line: underline;
  margin: 30px;

  /* acivate line blow to see effect */
  /* width: 70%; */
    }

.PATTERNS {
  background-color: white;
  background-image: url(./images/kostum.jpg);
  background-repeat: no-repeat; /* only once */
  height: 335px;
  width: 235px;
  text-align: center;
  text-decoration-color: whitesmoke;
  text-decoration-line: underline;
  margin: 30px;

  /* acivate line blow to see effect */
  /* width: 70%; */
}

/* ################################# SECTION Contact ################################# */
.contact {
  background-color: rgb(230, 81, 81);
   height: 300px;
  padding: 10px;
}

label {
  font-size: 24px;
}
input {
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 4px;
}
input [type="submit"] {
  font-size: 24px;
  padding: 10px;
}

/* media query to change layout when screen is wider than 880px */
@media (min-width: 880px) {
  .profile_title {
    text-align: center;
  }
  .home {
    flex-direction: column;
    /* overflow: hidden; */
  }
  .box-container {
    flex-direction: row;
  }
}
